*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/img/img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(10px) saturate(162%);
    -webkit-backdrop-filter: blur(10px) saturate(162%);
    background-color: rgba(88, 90, 94, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.logo
{
    font-size: 2.5em;
    color:white;
    user-select: none;
}
nav a
{
    position: relative;
    font-size: 1.5em;
    color: #dbdbdb;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
nav a::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #dbdbdb;
    border-radius: 5px;
    bottom: -6px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
}
nav a:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}
.login
{
    width: 150px;
    height: 60px;
    background: transparent;
    border: 2px solid #dbdbdb;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #dbdbdb;
    font-weight: 500; 
    margin-left: 40px;
    font-size: 1.5em;
    transition: 0.5s;
}
.login:hover
{
    background-color: #dbdbdb;
    color: black;
}
.maindiv
{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindiv .login-box
{
    width: 100%;
    padding: 40px;
}
.login-box h2
{
    font-size: 2em;
    color: #dbdbdb;
    text-align: center;
}
.input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #dbdbdb;
    margin: 30px 0;
}
.input-box label
{
    position:  absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #dbdbdb;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top:-5px;
}
.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #dbdbdb;
    font-weight: 600; 
    font-size: 1em;
    padding: 0 35px 0 5px;
}
.input-box .icon
{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #dbdbdb;
    line-height: 57px;
}
.remember-forgot
{
    font-size: 0.9em;
    color: #dbdbdb;
    font-weight:500 ;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input
{
    accent-color: #dbdbdb;
    margin-right: 3px;
}
.remember-forgot a 
{
    color: #dbdbdb;
    text-decoration: underline;
}

.remember-forgot a:hover
{
    text-decoration: underline;
}
.btn
{
    width: 100%;
    height: 45px;
    background: #dbdbdb;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162832;
    font-weight: 500;
    font-size: 1.5em;
}
.login-register
{
    font-size: 0.9em;
    color: #dbdbdb;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a 
{
    color: #dbdbdb;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover
{
    text-decoration: underline;
}
